:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container1 {


  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

}

.seat {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.seat.selected {
  background-color: green;
}

.booked {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: grey;
  cursor: not-allowed;
}

#book-btn {
   display: none;

}
