{% extends "base.html" %}

{% block content %}
<h1 class="text-center" style="padding-bottom: 50px">Compare Tickets</h1>

<form method="POST">
  <div class="form-group">
    <label for="exampleFormControlInput1">Compare ticket sales since:</label>
    <input type="Date" class="form-control" id="date" name="date">
    <script type="text/javascript">
      document.getElementById('date').valueAsDate = new Date();
    </script>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" input type="submit">Show Graph</button>
  </div>
</form>

<canvas id="myChart"></canvas>

<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {

    type: 'bar',

    data: {
        labels: [
          {% for movie in movies %}
            "{{movie}}",
          {% endfor %}
        ],
        datasets: [{
            label: 'Number of tickets sold',
            backgroundColor: 'rgb(252, 186, 3)',
            borderColor: 'rgb(252, 186, 3)',
            data: [
              {% for value in values %}
                {{value}},
              {% endfor %}
            ]
        }]
    },

    options: {
      scales: {
        yAxes: [{
            ticks: {
                suggestedMax: 10,
                min: 0,
                stepSize: 1
            }
        }]
      }
    }
});
</script>

{% endblock content %}