{% extends "base.html" %}
{% block content %}
<head>   
</head>
  <body>
    <div class="flex-container" align=center>
      <div class="flex-child poster">
        <script type="text/javascript">
      {%if "employee" in current_user.username%}
        window.location = "/seats/emp";
      {%endif%}
    
     function cash(){
        window.location = "/seats/cash";
      
    }
  </script>
        <h1>Select payment method:</h1>
        <button type="submit" class="btn btn-primary btn-lg" input type="submit" onclick="cash()">Cash</button>
        <a href="#" id="buy_now_btn" class="btn btn-primary btn-lg">Card</a>

      </div>
      <script src="https://js.stripe.com/v3/"></script>
      {#
      <script>
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      #}
      <script src="{{ url_for('static', filename='stripe-script.js') }}"></script>

        

    </div> <!-- /container -->
{% endblock %}
 