<div >
	{% if ticket.valid==False%}
        <font color="red"><h2>### NOT VALID ###</h2></font>
        {%endif%}
        {% if ticket.valid==True%}
        <font color="green"><h2>### VALID ###</h2></font>
        {%endif%}
    <h5 class="card-title">Ticket NO : {{ticket.id}}</h5>
    <p>Screen : {{ticket.movie_id}}</p>
    <p >Movie: {{ticket.movie.title}}</p>
    <p >Date : {{ticket.time.strftime('%Y-%m-%d')}}</p>
    <p >Time : {{ticket.time.strftime('%I:%M %p')}}</p>
    <p >Price: £{{ticket.price}}</p>
    <p >Type: {{ticket.age_type}}</p>
    <p >Quantity : {{ticket.quantity}}</p>
    <p >{{seats}}  </p>
</div>


