{% extends "base.html" %}
{% block content %}
<h1 class="text-center">My Tickets</h1>
    {% for ticket in tickets%}
    <div class="form-group">
        <h6>Bought on {{ticket.time.strftime('%d-%m-%Y')}} at {{ticket.time.strftime('%H:%M %p')}}</h6>
        <h6>Ticket NO. : {{ticket.id}}</h6>
        <h6>Screen: {{ticket.screen.id}}</h6>
        <h6>Movie: {{ticket.screen.movie.title}}</h6>
        <h6>Price: ${{ticket.price}}</h6>
        <h6>Type: {{ticket.age_type}}</h6>
        <h6>Seat: {{ticket.seat.position}}</h6>
    </div>
    {% if current_time > ticket.screen.screen_time %}
    <h5 style = "color:Red;">Expired</h5>
    {% else %}
    <nav><a href="{{ url_for('ticket_pdf', ticket_id=ticket.id) }}">View as PDF</a></nav>
    <nav><a href="{{ url_for('send_email', ticket_id=ticket.id) }}">Send to email</a></nav>
    <h5 style = "color:Green;" >Available</h5>
    {% endif %}
    <hr>
    {%endfor%}
    
{% endblock content %}