{% extends "base.html" %}
{% block content %}
<h1 class="text-center">View income</h1>

<script>
  function Graph_choice() {
  var mylist = document.getElementById("myList");
  
  var x = document.getElementById("myDIV");
  var but = document.getElementById("myBut");
  if ((myList.value).localeCompare("movie")==0){
      x.style.display = "block";
      but.style.display = "none";
      
    }
  else{
    x.style.display = "none";
    but.style.display = "block";
  }
  }

  
  </script>

  <form method="POST" action="" >
  <select id = "myList" name="myList" onchange = "Graph_choice()" >
    <option value="">Select Graph</option>
    <option value="week">View Weekly Income</option>
    <option value="overall">View Overall Income</option>
    <option value="movie" onclick="Movie_choice()">View Income Per-movie</option>
  </select>
  <br>
  <br>
  <button id="myBut" type="submit" class="btn btn-primary">Show Graph</button>
  </form>

  <form method="POST" action="" id="myDIV" style="display:none;">
    <select id = "myMovie" name="myMovie" onchange = "Graph_choice()" >
      <option value="">Select Movie</option>
      {% for movie in movies%}
      <option value="mv {{movie.id}}">{{movie.title}}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Show Graph</button>
    </form>
  
<canvas id="myChart"></canvas>
{% if choice == 1 %}
<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
  
      type: 'line',
  
      data: {
          labels: [
            {% for day in days %}
              "{{day.strftime('%d-%m-%Y')}}",
            {% endfor %}
          ],
          datasets: [{
              label: 'Weekly Income',
              borderColor: 'rgb(252, 186, 3)',
              data: [
              {% for day_income in days_income %}
                {{day_income}},
                {% endfor %}
              ]
          }]
      },
  
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  suggestedMax: 10,
                  min: 0,
                  stepSize: 5
              }
          }]
        }
      }
  });
  </script>  
        
{% elif choice ==2 %}
<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
  
      type: 'line',
  
      data: {
          labels: [
            {% for graph_day in graph_days %}
              "{{graph_day.strftime('%d-%m-%Y')}}",
            {% endfor %}
          ],
          datasets: [{
              label: 'Overall Income',
              borderColor: 'rgb(252, 186, 3)',
              data: [
              {% for day_income in total_income %}
                {{day_income}},
                {% endfor %}
              ]
          }]
      },
  
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  suggestedMax: 10,
                  min: 0,
                  stepSize: 10
              }
          }]
        }
      }
  });
  </script> 
{% elif choice ==3 %}
<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
  
      type: 'line',
  
      data: {
          labels: [
            {% for graph_day in graph_days %}
              "{{graph_day.strftime('%d-%m-%Y')}}",
            {% endfor %}
          ],
          datasets: [{
              label: "{{movie_title}} Income",
              borderColor: 'rgb(252, 186, 3)',
              data: [
              {% for day_income in total_income %}
                {{day_income}},
                {% endfor %}
              ]
          }]
      },
  
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  suggestedMax: 10,
                  min: 0,
                  stepSize: 10
              }
          }]
        }
      }
  });
  </script> 
{%else%}
{% endif %}
{% endblock content %}